.col-1 {
    width: 10%;
    float: left;
}

.col-2 {
    width: 20%;
    float: left;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
    float: left;
}

.col-10 {
    width: 100%;
}

[class*='col-']{
    float: left;
    border: 1px solid;
    box-sizing: border-box;
}
.header-height{height: 30px;}
.manu-height{height: 50px;}
.content-height{height: 800px;}
.footer-height{height: 50px;}
.row:after{
    clear: both;
    display: block;
    content: '';
}
.wrapper{
    height: auto;
    width: 95%;
    margin: 0 auto;
}